/*
    CSS for ROXML documentation.
*/
body {
    font-size: 13px;
    margin: 10px;
    font-family: arial, sans-serif;
}

.quickLinks {
  text-align: center;
}

.quickLinks A {
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: underline;
}

a {
    text-decoration: none;
    border-bottom: 1px dashed ##222;
}

a:hover {
    border-top: 1px solid ##222;
    border-bottom: 1px solid ##222;
}

/*
blockquote {
    font-style: italic;
}
*/

code {
    font-size: 12px;
    font-family: monospace;
}

pre {
    overflow: auto;
    width: 70%;
    border: 1px solid #ddd;
    background-color: #eee;
    color: #000;
    padding: 1em;
}

h1 {
    font-size: 200%;
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 150%;
    border-bottom: 1px solid #ddd;    
}

h3 {
    font-size: 120%;
}

#footer
{
    border-top: 1px dashed gray;
}

div#cvs_id {
    text-align: right;
    color: #ccc;
    font-size: 75%;
}